{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div class="media">
    <!-- <img class="rounded-circle account-img" src="userimage.jpg" /> -->
    <div class="media-body">
      <h1>CASH: {{ cash_amt }}</h1>
      <h1>BITCOINS (BTC): {{ users_currencies }} </h1>
      <h2 class="account-heading">USERNAME: {{ current_user.username }}</h2>
      <p class="text-secondary">
        EMAIL: {{ current_user.email }}
      </p>
    </div>
  </div>

  <div class="currency-owned-table-container">
    <table>
      <th>
        BITCOINS(BTC)
      </th>
      <tr>
        <td>
          {{ users_currencies }}
        </td>
      </tr>
    </table>
  </div>
  {% endblock content %}
