<!-- ./templates/currencies.html -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BUY</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <style>

    @font-face {
      font-family: pix;
      src: url(/static/NESFont.ttf);
    }
    body {
      font-family: pix;
    }
    body {
      background-color: #000000;
      color: white;
    }
      #cc-table {
          margin: 0 auto;
          width: 100%;
      }
      #cc-table td {
        text-align: center;
        padding: 10px;
        font-family: pix;
      }
      #cc-table th {
        padding-bottom: 30px;
      }
      #cc-table td:hover {
        color: #A81000;
      }
      form {
        float: right;
      }
      select {
        display: block;
        margin-bottom: 15px;
      }
      table {
        border: 10px solid #0000FC;
        border-radius: 2%;
      }
      .table-form-cell {
        display: inline-block;

      }
      .hidden {
        visibility: hidden;
      }




    </style>

</head>
<body>


          <h1 class="title is-6" id="b_price">{{bitcoinprice}}</h1>
          <h1>CASH:</h1>
          <h1 class="title is-6" id="m_left">{{moneyLeft}}</h1>



      <!-- <form name="text" method="POST" action="/form">
          <input name="comp_select">
          <input type="submit" value="Buy">
      </form> -->

      <p>{{error_message}}</p>


    <div class="table-background">
        <h1>PICK A CRYPTOCURRENCY TO BUY.</h1>
        <h1>SELECT A CRYPTOCURRENCY</h1>
        <!-- <a href="{{url_for('buy', type='BTC')}}">BTC</a> -->
        <table id="cc-table">
          <th>
            STOCK
          </th>
          <th>
            PRICE
          </th>
          <th>
            # COINS OWNED
          </th>

          <!-- Aurora Table Info -->
          <tr>
            <!-- <td class="arrow">
              <img src="/static/arrow.png" />

            </td> -->
            <td id="aurora-table-name">
              AURORACOIN (AUR)
            </td>
            <td id="aurora-table-price">
            </td>
            <td>
              0
            </td>
            <td class="table-form-cell">
              <form name="text" method="POST" action="/buy">
              <input name="buy_coins">
              <input type="submit" value="aurora" class="hidden">
            </form>
            </td>
          </tr>

          <!-- Bitcoin Table Info -->
          <tr>
            <td id="bitcoin-table-name">
              BITCOIN (BTC)
            </td>
            <td id="bitcoin-table-price">
            </td>
            <td>
              0
            </td>
            <td class="table-form-cell">
              <form name="text" method="POST" action="/buy">
              <input name="buy_coins">
              <input type="submit" value="bitcoin" class="hidden">
            </form>
            </td>
          </tr>

          <!-- ByteCoin Table Info -->
          <tr>
            <td id="bytecoin-table-name">
              BYTECOIN (BCN)
            </td>
            <td id="bytecoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- DOGE Table Info -->
          <tr>
            <td id="dogecoin-table-name">
              DOGECOIN (DOGE)
            </td>
            <td id="doge-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Ethereium Table Info -->
          <tr>
            <td id="ethereium-table-name">
              ETHEREIUM (ETC)
            </td>
            <td id="ethereium-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Feathercoin Table Info -->
          <tr>
            <td id="feathercoin-table-name">
              FEATHERCOIN (FTC)
            </td>
            <td id="feathercoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Gridcoin Table Info -->
          <tr>
            <td id="gridcoin-table-name">
              GRIDCOIN (GRC)
            </td>
            <td id="gridcoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Litecoin Table Info -->
          <tr>
            <td id="litecoin-table-name">
              LITECOIN (LTC)
            </td>
            <td id="litecoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Mazacoin Table Info -->
          <tr>
            <td id="mazacoin-table-name">
              MAZACOIN (MZC)
            </td>
            <td id="mazacoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Namecoin Table Info -->
          <tr>
            <td id="namecoin-table-name">
              NAMECOIN (NMC)
            </td>
            <td id="namecoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>



          <!-- Peercoin Table Info -->
          <tr>
            <td id="peercoin-table-name">
              PEERCOIN (PPC)
            </td>
            <td id="peercoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>



          <!-- Primecoin Table Info -->
          <tr>
            <td id="primecoin-table-name">
              PRIMECOIN (XPM)
            </td>
            <td id="primecoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>



          <!-- Potcoin Table Info -->
          <tr>
            <td id="potcoin-table-name">
              POTCOIN (PTC)
            </td>
            <td id="potcoin-table-price">
            </td>
            <td>
              0
            </td>
          </tr>

          <!-- Stellar Table Info -->
          <tr>
            <td id="stellar-table-name">
              STELLAR (XLM)
            </td>
            <td id="stellar-table-price">
            </td>
            <td>
              0
            </td>
          </tr>



        </table>
    </div>





    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <!-- import Pusher-js library -->
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="text/javascript">
      // connect to Pusher
      const pusher = new Pusher('d0fbb6934c4ec3d8a001', {
        cluster: 'us2', // gotten from Pusher app dashboard
        encrypted: true // optional
      });
      // subscribe to crypto channel
      const channel = pusher.subscribe('crypto')
      // listen for relevant events

      channel.bind('data-updated', data => {
          document.getElementById('bitcoin-table-price').innerHTML =  "$" + data.btc_price;
          document.getElementById('m_left').innerHTML = "BUDGET: " + "$" + data.money_left;
          document.getElementById('litecoin-table-price').innerHTML = "$" + data.ltc_price;
          document.getElementById('doge-table-price').innerHTML = "$" + data.doge_price;
          document.getElementById('namecoin-table-price').innerHTML = "$" + data.nmc_price;
          document.getElementById('bytecoin-table-price').innerHTML = "$" + data.bcn_price;
          document.getElementById('peercoin-table-price').innerHTML = "$" + data.ppc_price;
          document.getElementById('feathercoin-table-price').innerHTML = "$" + data.ftc_price;
          document.getElementById('gridcoin-table-price').innerHTML = "$" + data.grc_price;
          document.getElementById('primecoin-table-price').innerHTML = "$" + data.xpm_price;
          document.getElementById('aurora-table-price').innerHTML = "$" + data.aur_price;
          document.getElementById('mazacoin-table-price').innerHTML = "$" + data.mzc_price;
          document.getElementById('potcoin-table-price').innerHTML = "$" + data.pot_price;
          document.getElementById('stellar-table-price').innerHTML = "$" + data.xlm_price;
          document.getElementById('ethereium-table-price').innerHTML = "$" + data.eth_price;



      });
      channel.bind('month-updated', data => {
          const btc_month = JSON.parse(data.btc_month_bar);
          Plotly.newPlot('monthly_btc_bar', btc_month);

      });

      channel.bind('ltc-month-updated', data => {
          const ltc_month = JSON.parse(data.ltc_month_bar);
          Plotly.newPlot('monthly_ltc_bar', ltc_month);

      });

      channel.bind('eth-month-updated', data => {
          const eth_month = JSON.parse(data.eth_month_bar);
          Plotly.newPlot('monthly_eth_bar', eth_month);

      });


  //     $(document).ready(function() {
  //       $('#submit').click(function(event) {
  //         event.preventDefault()
  //          //var formdata = $("#bought").serialize();
  //          //var value = $("#bought").val();
  //          //console.log(value);
  //          $.ajax({
  //               type: 'POST',
  //               contentType: 'application/json',
  //               data: "",
  //               dataType: 'json',
  //               url: 'http://127.0.0.1:5000/',
  //               success: function (e) {
  //                   //document.getElementById('m_left').innerHTML = {{moneyLeft}} - {{bitcoinprice}};
  //                   window.location.replace("http://127.0.0.1:5000/form")
  //               },
  //               error: function(error) {
  //                 console.log(error);
  //           }
  //           });
  //       });
  // });


    </script>
</body>
</html>
